body {
    font-family: arial,Arial, Helvetica, sans-serif;
    font-size: 12px;
}

/*HEADER*/

.cabecalho{
    display: flex;
}

.logo-alura{
    height: 48px;
    width: 31.085588455200195px;
    left: 44px;
    top: 0px;
    border-radius: 0px;
}
.titulo-um{
    position: absolute;
    width: 680px;
    height: 48px;
    left: 240px;
    top: 168px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 150%;

    color: #0A3871;

}

/*MAIN*/

.main{
    position: relative;
}

.box-botoes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 24px;
    gap: 8px;

    width: 328px;
    height: 67px;

}

.botao-cripto{
    background: #0A3871;
    box-sizing: border-box;
    width: 328px;
    height: 67px;
    border-radius: 24px;
    color: #fff;
    flex: none;
    order: 0;
    flex-grow: 0;
}

.botao-descripto{
    background: #D8DFE8;
    box-sizing: border-box;
    width: 328px;
    height: 67px;
    border: 1px solid #0A3871;
    color:  #0A3871;
    border-radius: 24px;
    flex: none;
    order: 1;
    flex-grow: 0;
}

/*FOOTER*/